[package]
name = "projclean"
version = "0.3.0"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "Project cache finder and cleaner"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/projclean"
repository = "https://github.com/sigoden/projclean"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "clean", "tui"]

[dependencies]
anyhow = "1"
jwalk = "0.6"
tui = "0.18"
crossterm = "0.23"
clap = "3.2"
regex = { version = "1.5", features = ["std"], default-features = false }

[profile.release]
lto = true
strip = true
opt-level = "z"
